<p-table [value]="warehouses" dataKey="warehouseID" responsiveLayout="scroll">

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"> <p-button label="" icon="pi pi-upload" iconPos="left" (click)="showAddWarehouse()"></p-button> </th>
            <th pSortableColumn="warehouseID"> WarehouseID <p-sortIcon field="warehouseID"></p-sortIcon></th>
            <th>Address</th>
            <th>Capacity</th>
            <th style="width: 3rem"></th>
            <th style="width: 3rem"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-warehouse let-expanded="expanded">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="warehouse" class="p-button-text p-button-rounded p-button-plain" 
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" (click)="setWarehouseId(warehouse.warehouseID)"></button>
            </td>
            <td>{{warehouse.warehouseID}}</td>
            <td>{{warehouse.address}}</td>
            <td>{{warehouse.capacity}}</td>
            <td> <p-button label="" icon="pi pi-cog" iconPos="left" (click)="showEditWarehouse(warehouse.warehouseID)"></p-button> </td>
            <td> <p-button label="" icon="pi pi-times" iconPos="left" (click)="deleteWarehouse(warehouse.warehouseID)"></p-button> </td>
            
        </tr>
    </ng-template>
    

    <ng-template pTemplate="rowexpansion">
        <tr>
            <td colspan="7" >
                <div class="p-3">
                    <app-inventory-table [warehouseId]="warehouseId"></app-inventory-table>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>



<p-dialog header="Save new Warehouse" [(visible)]="displayAddWarehouse">
    <app-warehouses-form></app-warehouses-form>
</p-dialog>

<p-dialog header='Update Warehouse' [(visible)]="displayUpdateWarehouse">
    <app-warehouses-update [warehouseId]="warehouseId"></app-warehouses-update>
</p-dialog>




    




