<p-card>
    <ng-template pTemplate="header"> 
        <div class="center" style="font-size: 18px;">Enter Item Details</div> 
    </ng-template>

    <form (ngSubmit)="save(item)">
    
        <div class="input-field">
            <label for="serialNum">SerialNum</label>
            <br>
            <input pInputText type="number" name="serialNum" [(ngModel)]="item.serialNum">
        </div>

        <div class="input-field">
            <label for="name">Name</label>
            <br>
            <input pInputText type="string" name="name" [(ngModel)]="item.name">
        </div>

        <div class="center">
            <p-button label="Save" type="submit" name="Submit" ></p-button>
        </div>
    </form>
</p-card>

<p-toast position="bottom-center"></p-toast>


