


<div style="padding: 50px;">
  <app-warehouses-table></app-warehouses-table>
</div>









<!-- <section>
  <nav>
    <a [routerLink]="['/list-warehouses']">Find All Warehouses</a>
    <br>
    <a [routerLink]="['/enter-warehouse']">Create new Warehouse</a> 
    <br>
    <a [routerLink]="['/delete-warehouse']">Delete a Warehouse</a>  
    <br>
    <a [routerLink]="['/update-warehouse']">Update a Warehouse</a>  
  </nav>
</section>

<br><br>

<section>
  <nav>
    <a [routerLink]="['/find-inventory']">See warehouse inventory</a>
    <br>
    <a [routerLink]="['/save-inventory']">Add a new Inventory</a>
    <br>
    <a [routerLink]="['/delete-inventory']">Delete an Inventory</a>
    <br>
    <a [routerLink]="['/update-inventory']">Update an Inventory</a>
  </nav>
</section>

<br><br>

<section>
  <nav>
    <a [routerLink]="['/read-items']">See items in vault</a>
    <br>
    <a [routerLink]="['/save-items']">Save item to a vault</a>
    <br>
    <a [routerLink]="['/delete-items']">Delete an item</a>
    <br>
    <a [routerLink]="['/update-items']">Update an item</a>
    <br>
  </nav>
</section>

<section>
  <router-outlet></router-outlet>
</section>

 -->

