<p-card>
    <ng-template pTemplate="header"> 
        <div class="center" style="font-size: 18px;">Enter Vault Details</div> 
    </ng-template>

    <form (ngSubmit)="update(inventory)">

        <div class="input-field">
            <label for="size">Size</label>
            <br>
            <input pInputText type="text" name="size" [(ngModel)]="inventory.size">    
        </div>

        <div class="input-field">
            <label for="warehouse">Warehouse</label>
            <br>
            <input pInputText type="number" name="capacity" [(ngModel)]="inventory.warehouse"> 
        </div>
        
        <div class="center">
            <p-button label="Save" type="submit" name="Submit" ></p-button>
        </div>
    </form>
</p-card>

<p-toast position="bottom-center"></p-toast>