<p-card>

    <ng-template pTemplate="header"> 
        <div class="center" style="font-size: 18px;">Enter Warehouse Details</div> 
    </ng-template>

    <form (ngSubmit)="save(warehouse)">
    
        <div class="input-field">
            <label for="address" class="input-field">Address</label>
            <input pInputText type="text" name="address" [(ngModel)]="warehouse.address">
        </div>
        
    
        <br>

        <div class="input-field">
            <label for="capacity" class="input-field">Capacity</label>
            <input pInputText type="number" name="capacity" [(ngModel)]="warehouse.capacity">
        </div>
        
        
        <br>

        <div class="center">
            <p-button label="Save" type="submit" name="Submit"></p-button>
        </div>
        
    </form>

</p-card>
