<p-card>

    <ng-template pTemplate="header"> 
        <div class="center" style="font-size: 18px;">Enter Vault Details</div> 
    </ng-template>

    <form (ngSubmit)="update(warehouse)">
    
        <div class="input-field">
            <label for="address">Address</label>
            <br>
            <input pInputText type="text" name="address" [(ngModel)]="warehouse.address">        
        </div>

        <div class="input-field">
            <label for="capacity">Capacity</label>
            <br>
            <input pInputText type="number" name="capacity" [(ngModel)]="warehouse.capacity">      
        </div>

        <div class="center">
            <p-button label="Save" type="submit" name="Submit" ></p-button>
        </div>
        
    </form>

</p-card>

<p-toast position="bottom-center"></p-toast>