/* You can add global styles to this file, and also import other style files */
.center{
    text-align: center;

    padding-top: 20px;
}
.input-field{
    padding: 5px;
}

.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 25%;
    size: 1px;
}