<form (ngSubmit)="save(inventory, items)">
    
    <label for="size">Size</label>
    <input pInputText type="number" name="size" [(ngModel)]="inventory.size">

    <label for="warehouse">Warehouse</label>
    <input pInputText type="number" name="warehouse" [(ngModel)]="inventory.warehouse">
    
    <input type="submit" name="Submit">
</form>

<form (ngSubmit)="addItem(tempItem)">
    <br>
    <div>ADD ALL ITEMS BEFORE PRESSING SUBMIT</div>
    <div>Add items below:</div>
    <br>
    <label for="serialNum">Serial Number</label>
    <input pInputText type="number" name="serialNum" [(ngModel)]="tempItem.serialNum">

    <label for="name">Name</label>
    <input pInputText type="string" name="name" [(ngModel)]="tempItem.name">

    <input type="submit" name="Add" title="add">


</form>

