<p-card>

    <ng-template pTemplate="header"> 
        <div class="center" style="font-size: 18px;">Enter Vault Details</div> 
    </ng-template>

    <form (ngSubmit)="save(inventory)">
    
        <div class="input-field">
            <label for="size">Size</label>
            <br>
            <input pInputText type="number" name="size" [(ngModel)]="inventory.size">
        </div>

        <div class="center">
            <p-button label="Save" type="submit" name="Submit" ></p-button>
        </div>
        
    </form>

</p-card>




